<style>
   img{
       width: 200px;
       height: 180px;
   }
    .weizhi{
        width: 200px;
        height: 200px;
    }
</style>

    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/d.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing1()" value="柠檬">
</a>
    </span>



    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/a.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing2()" value="红苹果">
</a>
    </span>



    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/c.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing3()" value="绿苹果">
</a>
    </span>



    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/b.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing4()" value="草莓">
</a>
    </span>



    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/e.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing5()" value="芒果">
</a>
    </span>

<br>
{#<span ><input type="button" onclick="xiangqing()" value="柠檬"></span>#}

<p></p>

    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/f.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing6()" value="橙子">
</a>
    </span>



    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/g.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing7()" value="西瓜">
</a>
    </span>



    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/h.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing8()" value="菠萝">
</a>
    </span>


    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/i.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing9()" value="香蕉">
</a>
    </span>



    <span style="position: relative;background-color: beige;width: 200px;height: 200px">
       <span ><img src="/static/imgs/j.jpg"></span>
        <a style="position: absolute;right: 0px;bottom: 0px"><input type="button" onclick="xiangqing10()" value="葡萄">
</a>
    </span>

</div>
<script type="text/javascript">
function xiangqing1(){
    self.location = '/static/xq/d.html';

}

    function xiangqing2(){
    self.location = '/static/xq/a.html';

}
    function xiangqing3(){
    self.location = '/static/xq/c.html';

}
    function xiangqing4(){
    self.location = '/static/xq/b.html';

}
    function xiangqing5(){
    self.location = '/static/xq/e.html';

}
    function xiangqing6(){
    self.location = '/static/xq/f.html';

}
    function xiangqing7(){
    self.location = '/static/xq/g.html';

}
    function xiangqing8(){
    self.location = '/static/xq/h.html';

}
    function xiangqing9(){
    self.location = '/static/xq/i.html';

}
    function xiangqing10(){
    self.location = '/static/xq/j.html';

}

</script>